<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="AutofacExample.EducationDepartment.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Telerik.Windows.Controls" publicKeyToken="5803CFA389C90CE7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2012.3.1129.40" newVersion="2012.3.1129.40"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <AutofacExample.EducationDepartment.Properties.Settings>
   <setting name="UISetting" serializeAs="String">
    <value />
   </setting>
  </AutofacExample.EducationDepartment.Properties.Settings>
 </userSettings>
</configuration>
